﻿@model WebSoccer.Models.Account

<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Neon Admin Panel" />
    <meta name="author" content="" />

    <title>Neon | Login</title>


    <link rel="stylesheet" href="../../assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="../../assets/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/neon-core.css">
    <link rel="stylesheet" href="../../assets/css/neon-theme.css">
    <link rel="stylesheet" href="../../assets/css/neon-forms.css">
    <link rel="stylesheet" href="../../assets/css/custom.css">

    <script src="../../assets/js/jquery-1.11.0.min.js"></script>






</head>
<body class="page-body login-page login-form-fall" ng-controller="login_controller">




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <br />
        <div class="login-container">



            <div class="login-form">

                <div class="login-content">


                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="entypo-user"></i>
                            </div>

                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Username" })
                            @Html.ValidationMessageFor(model => model.Username)
                        </div>

                    </div>

                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="entypo-key"></i>
                            </div>
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>

                    </div>

                    <div class="form-group">

                        <button type="submit" class="btn btn-primary btn-block btn-login" ng-click="login(username,password)">
                            <i class="entypo-login"> </i>
                            Login
                        </button>



                    </div>

                    <!-- Implemented in v1.1.4 -->




                </div>

            </div>
        </div>

    }

<script src="../../assets/js/gsap/main-gsap.js"></script>
    <script src="../../assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="../../assets/js/bootstrap.js"></script>
    <script src="../../assets/js/joinable.js"></script>
    <script src="../../assets/js/resizeable.js"></script>
    <script src="../../assets/js/neon-api.js"></script>
    <script src="../../assets/js/jquery.validate.min.js"></script>
    <script src="../../assets/js/neon-login.js"></script>
    <script src="../../assets/js/neon-custom.js"></script>
    <script src="../../assets/js/neon-demo.js"></script>



</body>
</html>