﻿@model IEnumerable<WebSoccer.Models.Category>

@{
    ViewBag.Title = "Index";
}



<a href="@Url.Action("Create", "Category")" class="btn btn-success">
    <span class="glyphicon glyphicon-plus">
    </span>
    Yeni
</a>
<br/>
<br/>
<table class="table table-bordered table-striped datatable">
    <thead>
        <tr>
            <th>
               Categories
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
{
    <tr>
    <td>
         @Html.ActionLink(Html.DisplayFor(model => item.Name).ToString(), "Index", new {controller = "News", id = item.Id})
    </td>
               
                <td>

                    <a href="@Url.Action("Edit", "Category", new { id = item.Id})" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Edit
                    </a>
                    @Html.ActionLink("Delete", "Delete", "Category", new { id = item.Id }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>

</table>
