﻿@model WebSoccer.Models.News

@{
    ViewBag.Title = "Details";
}


<div class="container">

    <div class="row">
        <!-- Profile -->
        <div class="food_profile">
            <img src="@Html.DisplayFor(model => model.PhotoUrl)" alt="" border="solid" width="500px" height="380px">


        </div>


        <!-- Info -->
        <div class="food_info">
            <h2>  @Html.DisplayFor(model => model.Title)</h2>
           
        </div>



        <!-- Event Text -->
        <div class="description">
            <p class="news">
                @Html.DisplayFor(model => model.Content)
            </p>
            <br/>
            <br/>
            <h3> @Html.DisplayFor(model => model.PublishDate)</h3>
        </div>

       
    </div>

</div>