﻿@model WebSoccer.Models.News

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-vertical">
        <h4> Edit News</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Content, new {@class = "control-label"})
                    @Html.TextBoxFor(model => model.Content, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Content)
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryId, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.Categories, "Choose Category", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryId)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Photo, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Photo, new { type = "file", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Photo)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Edit</button>
                </div>
            </div>
        </div>

    </div>
}


