﻿@model IEnumerable<WebSoccer.Models.News>

@{
    ViewBag.Title = "Index";
}

<br/>
<a href="@Url.Action("Create", "News")" class="btn btn-success">
    <span class="glyphicon glyphicon-plus">
    </span>
    Yeni
</a>

<br/>
<br/>
<div class="row">
    @foreach (var item in Model)
    {


        <div class="col-sm-6 col-lg-3 col-md-4 col-xs-12" style="margin: 20px 0 20px 0;">

            <article class="album">
                <div>
                    <header>
                        <a href="@Url.Action("Details", "News",new {id = item.Id})" title="List View" class="links">
                            <img class="img-thumbnail" width =380 height =" 280" src="@Url.Content(item.PhotoUrl)">
                        </a>

                    </header>

                    <section class="album-info">
                        <h3>
                            @Html.ActionLink(Html.DisplayFor(model => item.Title).ToString(), "Details", new { controller = "News", id = item.Id })
                        </h3>
                        <p>Date: @Html.DisplayFor(modelItem => item.PublishDate)</p>
                    </section>
                </div>
                <footer>

                    <div class="album-options">
                        <a href="@Url.Action("Edit", "News",new {id = item.Id})">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>

                        <a href="@Url.Action("Delete", "News",new {id = item.Id})">
                            <i class="entypo-trash"></i>
                        </a>
                    </div>

                </footer>

            </article>

        </div>

    }
</div>

<ul class="pagination">

    @if ((int)ViewBag.CurrentPage > 1)
    {
        <li>
            <a href="@Url.Action("Index", "News",
                          new
                          {
                              page = (int) ViewBag.CurrentPage - 1
                             
                          })">
                Previous
            </a>
        </li>
    }
    else
    {
        <li> <a href="" class="disable">Previous</a></li>
    }

    <li>
        <a href="@Url.Action("Index", "News",
                      new
                      {
                          page = 1
                      })">
            First
        </a>
    </li>

    @for (var link = (int)ViewBag.CurrentPage - 3; link <= (int)ViewBag.CurrentPage - 1; link++)
    {
        if (link >= 1)
        {
            <li>
                <a href="@Url.Action("Index", "News",
                              new
                              {
                                  page = link
                              })">
                    @link
                </a>
            </li>
        }
    }

    <li class="active">
        <a href="@Url.Action("Index", "News",
                                     new
                                     {
                                         page = (int) ViewBag.CurrentPage
                                     })">
            @ViewBag.CurrentPage
        </a>
    </li>

    @for (var link = (int)ViewBag.CurrentPage + 1; link <= (int)ViewBag.CurrentPage + 3; link++)
    {
        if (link <= (int)Math.Ceiling((double)ViewBag.TotalRows / 10))
        {

            <li>
                <a href="@Url.Action("Index", "News",
                              new
                              {
                                  page = link
                              })">
                    @link
                </a>
            </li>
        }
    }



    <li>
        <a href="@Url.Action("Index", "News",
                      new
                      {
                          page = (int)Math.Ceiling((double)ViewBag.TotalRows / 10),
                      })">
            Last
        </a>
    </li>


    @if ((int)ViewBag.CurrentPage < (int)Math.Ceiling((double)ViewBag.TotalRows / 10))
    {
        <li>
            <a href="@Url.Action("Index", "News",
                          new
                          {
                               page = (int) ViewBag.CurrentPage + 1
                          })">
                Next
            </a>
        </li>
    }
    else
    {
        <li> <a href="" class="disable">Next</a></li>
    }
</ul>