﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Neon Admin Panel"/>
    <meta name="author" content=""/>

    <title>Neon | Dashboard</title>


    <link rel="stylesheet" href="../../assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="../../assets/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/neon-core.css">
    <link rel="stylesheet" href="../../assets/css/neon-theme.css">
    <link rel="stylesheet" href="../../assets/css/neon-forms.css">
        

    <script src="../../assets/js/jquery-1.11.0.min.js"></script>


    <style type="text/css">
        .news {
            font-size: 150%;
        }
         .row {
             margin: 20px 20px 20px 20px;
         }

        .ratings {
            font-size: 25px !important;
        }

        .thumbnail img {
            width: 100%;
        }

        .ratings {
            padding-right: 10px;
            padding-left: 10px;
            color: #d17581;
        }

        .thumbnail {
            padding: 0;
        }

        .thumbnail .caption-full {
            padding: 9px;
            color: #333;
        }

        .glyphicon-thumbs-up:hover {
            color: #008000;
            cursor: pointer;
        }

        .glyphicon-thumbs-down:hover {
            color: #E10000;
            cursor: pointer;
        }

        .counter {
            color: #333333;
        }

        .thumbnail img {
            height: 200px;
        }

        .food_profile {
            float: left;
        }

        .food_info {
            float: left;
            padding-left: 50px;
            padding-right: 50px;
            max-width: 100ch;
        }



        .description {
            float: left;
            clear: left;
            padding: 20px;
        }
    </style></head>

<body class="page-body  page-fade">




    <div class="page-container">
        <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

        <div class="sidebar-menu">


            <header class="logo-env">

                <!-- logo -->
                <div class="logo">
                    
                </div>

                <!-- logo collapse icon -->

                <div class="sidebar-collapse">
                    <a href="#" class="sidebar-collapse-icon with-animation">
                        <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                        <i class="entypo-menu"></i>
                    </a>
                </div>



                <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
                <div class="sidebar-mobile-menu visible-xs">
                    <a href="#" class="with-animation">
                        <!-- add class "with-animation" to support animation -->
                        <i class="entypo-menu"></i>
                    </a>
                </div>

            </header>



            <ul id="main-menu" class="">
                <!-- add class "multiple-expanded" to allow multiple submenus to open -->
                <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
                <!-- Search Bar -->
                <li id="search">
                    <form method="get" action="">
                        <input type="text" name="q" class="search-input" placeholder="Search something..."/>
                        <button type="submit">
                            <i class="entypo-search"></i>
                        </button>
                    </form>
                </li>

                <li class="">
                    <a href="@Url.Action("Index", "News")">
                        <i class="glyphicon glyphicon-home"></i>
                        <span>Home</span>
                    </a>
                </li>

                <li class="active opened active">
                    <a href="#">
                        <i class="glyphicon glyphicon-th-list"></i>
                        <span>Categories</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Category")">
                                All Categories
                            </a>

                            @Html.Action("MenuPartial", "Category")
                        </li>
                    </ul>
                </li>


            </ul>

        </div>
        
        <div class="main-content">

            <div class="row">
@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
{
    @Html.AntiForgeryToken()
    <!-- Profile Info and Notifications -->
    <div class="col-md-6 col-sm-8 clearfix">


    </div>


    <!-- Raw Links -->
    <div class="col-md-6 col-sm-4 clearfix hidden-xs">

        <ul class="list-inline links-list pull-right">


            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Logout <i class="entypo-logout right"></i></a>
            </li>
        </ul>

    </div>
}
            </div>
            <hr>
           @RenderBody()
        </div>


      

    </div>





<link rel="stylesheet" href="../../assets/js/jvectormap/jquery-jvectormap-1.2.2.css">
<link rel="stylesheet" href="../../assets/js/rickshaw/rickshaw.min.css">

<!-- Bottom Scripts -->
<script src="../../assets/js/gsap/main-gsap.js"></script>
<script src="../../assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="../../assets/js/bootstrap.js"></script>
<script src="../../assets/js/joinable.js"></script>
<script src="../../assets/js/resizeable.js"></script>
<script src="../../assets/js/neon-api.js"></script>
<script src="../../assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../../assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js"></script>
<script src="../../assets/js/jquery.sparkline.min.js"></script>
<script src="../../assets/js/rickshaw/vendor/d3.v3.js"></script>
<script src="../../assets/js/rickshaw/rickshaw.min.js"></script>
<script src="../../assets/js/raphael-min.js"></script>
<script src="../../assets/js/morris.min.js"></script>
<script src="../../assets/js/toastr.js"></script>
<script src="../../assets/js/neon-chat.js"></script>
<script src="../../assets/js/neon-custom.js"></script>
<script src="../../assets/js/neon-demo.js"></script>

</body>


</html >
